body {
    background-color: #312E2B;
}

.chess-board {
    border-spacing: 0;
    border-collapse: collapse;
}

.chess-board th {
    padding: .5em;
}

.chess-board td {
    border: 0px solid;
    width: 3em;
    height: 3em;
}

.chess-board .light {
    background: rgb(238, 238, 210);
}

.chess-board .dark {
    background: rgb(118, 150, 86);
}

.numeric-font {
    cursor: default;
    font-size: 90%;
    position: absolute;
}

.dark-font {
    color: rgb(118, 150, 86);
}

.light-font {
    color: rgb(238, 238, 210);
}

.pawn-img {
    background-image: url('https://images.chesscomfiles.com/chess-themes/pieces/gothic/150/bp.png');
}

.numeric-pos {
    position: relative;
    display: block;
    margin-left: 0px;
    margin-top: -50%;
}

.letter-pos {
    position: relative;
    margin-top: 65%;
    margin-left: 83%;
    display: block;
}

img {
    /* position: absolute; */
    /* margin-top: -17px; */
    height: 100%;
    width: 100%;
    display: block;
}

.border-red {
    border: solid 5px red;
}

.border-green {
    border: solid 5px green;
}

.error-message {
    color: red;
    font-style: italic;
}

.container {
    max-height: 5%;
    height: 5%;
}

.user-form {
    float: right;
    border: solid 4px green;
    padding: 10px;
    margin: 20px;
    width: 400px;
    margin-right: 300px;
    border-radius: 25px;
    background-color: antiquewhite;
}

.outer-timer-block {
    float: left;
    margin: 60px;
}

.timer-block {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.white-font {
    color: antiquewhite;
}

#board-block {
    float: left;
    margin: 2%;
}

.chart-container{
    border: solid 1px red;
    background-color: grey;
    float:left;
    color: wheat;
}

.radius-border{
    border-radius: 20px;
}

.reject-button{
    color:antiquewhite;
    border: none;
    background-color: red;
    border-radius: 5px;
    width: 80px;
    height:25px;
    
}

.accept-button{
    color:antiquewhite;
    border: none;
    background-color: green;
    border-radius: 5px;
    width: 80px;
    height:25px;
}


